﻿body {
	padding-bottom: 20px;
	font-size: 9pt;
}

.pageheader {
	padding: 10px 10px 5px 20px;
	width: 100%;
	display: block;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	max-width: 1375px;
}

.btn-picture {
	background-color: #9a9a9a;
	color: #fff;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

#ShelterCode {
	max-width: 300px;
}

.searchBtn {
	display: inline-block;
	float: left;
	margin: 0 5px 0 0;
}

.searchInput {
	min-width: 300px;
}



#InfoTable thead tr th, .jName {
	white-space: nowrap;
}

#InfoTable tbody tr td, #IdentifierTable tbody tr td {
	word-break: break-word;
}

.customPanel {
	margin: 10px 0 5px 0;
}

#IdentifierTable {
	/*font-size: .9em;*/
	width: 100%;
	overflow-x: scroll;
	/*display: block;*/
}

	#IdentifierTable tbody tr:nth-child(2n+1) {
		background-color: #e1e8de;
	}

	#IdentifierTable tbody tr td {
		max-width: 200px;
		/*font-size: .8em;*/
	}

.identifierActionRow {
	/*width: 160px;*/
	min-width: 150px;
}

.identifierLowLight {
	background-image: url("Images/blacktransparentbg.png");
	background-repeat: repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}


.identifierFormBackground {
	background-color: #fff;
	border: 2px solid #1f1f1f;
	border-radius: 3px;
	color: #1f1f1f;
	display: table;
	height: 90%;
	margin: 30px auto;
	max-width: 600px;
	min-width: 300px;
	position: relative;
	width: 80%;
	padding: 5px 10px;
}

	.identifierFormBackground .form-control {
		width: 100%;
	}

.itemBlock {
	display: block;
	margin: 0 0 4px 0;
}

.form-control {
	padding: 3px 6px;
}

#ConfigForm {
	/*max-height: 675px;*/
	margin-bottom: 20px;
	overflow-y: auto;
}

input[type="checkbox"] {
	margin: 3px 12px 0 2px;
	padding: 4px;
}

.windowBtn {
	float: right;
	background-color: #fad8d8;
}

hr {
	margin: 5px;
}

.subBtn {
	width: 90%;
	background-color: #bbe9b9;
}

.placeholderparagraph {
	margin: 5px 0 0 0;
	font-weight: bold;
}

/*#placeholderItems{
	padding-left: 20px;
}*/

.inline-text {
	width: 28%;
	float: left;
	margin: 0 1% 0 1%;
}

.removePlaceholderBtn {
	color: #ff0000;
	float: left;
	margin-top: 24px;
}

.addPlaceholderBtn {
	margin-top: 5px;
	color: #12511b;
	background-color: #e2fce2;
}

#ShowResults {
	border-top: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;
	border-radius: 3px;
	padding: 5px;
}

.SQLTableResults {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	margin: 5px 0 5px 0;
}

	.SQLTableResults tr, .SQLTableResults td, .SQLTableResults th {
		border: 1px solid #ccc;
		border-collapse: collapse;
		padding: 2px 4px 2px 4px;
	}

	.SQLTableResults th {
		background-color: #e2ffe1;
		text-align: center;
	}


.textboxheight {
	overflow-y: auto;
	max-height: 50px;
}



.JPriceFormAdd{
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
		width: 200px;
	float: left;
	margin: 50px 1% 0 1%;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#QInfoOutter, .QInfoInner{
	width: 100%;
	outline: 1px solid #ccc;
	border-collapse: collapse;
}


#QInfoOutter tr td, .QInfoInner tr td{
	outline: 1px solid #ccc;
	border-collapse: collapse;
}

.btn-JurisdictionPrice{
	padding: 3px 6px;
	vertical-align: unset;
	margin-bottom: 1px;
}

.removeJPrice{
	padding: 2px 4px;
	font-size: .8em;
	display: block;
	margin: 2px;
}

.JPriceForm th{
	text-align: center;
	padding: 2px 5px;
}

.LBText{
	font-weight: bold;
}

.pictureBlock {
	border: 1px solid #6b6b6b;
	padding: 5px;
	border-radius: 3px;
	margin: 3px;
	width: 240px;
	height: 400px;
	display: inline-block;
	float: left;
	position: relative;
}

	.pictureBlock img {
		max-width: 200px;
		max-height: 200px;
		display: block;
		margin: 0 auto;
		border-radius: 3px;
	}

.disapprovedImage {
	background-image: url("Images/RedUnapproved.png");
	position: absolute;
	width: 220px;
	height: 360px;
	border-radius: 3px;
	margin-top: -6px;
	margin-left: -6px;
}

.undoUnapprove {
	cursor: pointer;
	background-color: white;
	border: 1px solid #6b6b6b;
	border-radius: 3px;
	padding: 3px;
	width: 90px;
	text-align: center;
}

#donationDescriptionBox, .editFormBox {
	width: 100%;
	height: 100%;
	background-image: url("Images/blacktransparentbg.png");
	background-repeat: repeat;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
}

#imagePopupBox, .editPopupBox {
width: 700px;
	height: 90%;
	background-color: #fff;
	border: 2px solid #1f1f1f;
	color: #1f1f1f;
	/*padding: 20px;*/
	margin: 30px auto;
	position: relative;
	display: table;
	border-radius: 3px;
	overflow-y: scroll;
	text-align: justify;
}

#imgBtnBox, #approveBtnBox, .editFormButtons {
	position: absolute;
	text-align: center;
	bottom: 10px;
	/*bottom: 0;
	position: absolute;*/
	display: block;
	width: 100%;
	z-index: 10;
}

#approveBtnBox, .editFormButtons{
	z-index: 1;
}

.editFormButtons{
	background-color: #fff;
	bottom: 0px;
	padding-bottom: 10px;
}




/*#largeImageInBox{
	margin: 0 auto;
	padding-bottom: 15px;

}*/

#largeImageInBox img {
	margin: 0 auto;
	padding-bottom: 15px;
	display: block;
}

#canvasDiv {
	display: block;
	vertical-align: baseline;
	margin: 0 auto 15px auto;
}

#RotateRight:hover{
	cursor: pointer;
}

#btn-transform{
	margin: 10px auto 10px auto;
}

canvas{
	border: 2px dashed #000;
}

#waiting-outter {
	background-color: rgba(239, 241, 245, .75);
	display: table;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 3;
	top: 0;
	left: 0;
}

#waiting-inner {
	position: absolute;
	display: table-row;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.waiting-img {
	width: 115px;
	position: relative;
	margin: 0 auto;
	padding-top: 20%;
}

#btn-transform img{
	margin: 3px 5px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.editFormContent{
	padding: 10px 10px 55px 10px;
	overflow-y: scroll;
	height: 90%;
	max-height: 800px;
}

.stopScroll{
	overflow: hidden;
}

.lookupSpecificLabel{
	display: block;
	width: 100%;
	margin-bottom: 5px;
	font-size: 1.1em;
}

.lookupSpecificBox {
	max-width: 400px;
	display: inline-block ;
	margin-bottom: 10px;
}

.lookupSpecificBtn {
	width: 175px;
	display: inline-block;
	margin-left: 5px;
	vertical-align:unset;
}

.configSection{
	margin-bottom: 20px;
}

#PH3ConfigForm .btn-primary:active, #PH3ConfigForm .btn-primary.active {
	color: #fff;
	background-color: #12511b;
	border-color: #0e310c;
}

#PH3ConfigForm .btn-primary {
	color: #000;
	background-color: #f3f3f3;
	border-color: #1f1f1f;
}

.scrollTop {
	display: block;
	position: fixed;
	bottom: 15px;
	right: 0px;
	width: 100px;
	height: 50px;
	text-align: center;
	background-color: #12511b;
	border-radius: 5px 0 0 5px;
/*	opacity: 0.4;*/
	cursor: pointer;
	z-index: 100;
}

.scrollTop>span{
	color: #fff;
	font-weight: bold;
	font-size: 1.3em;
}

[id$=-error]{
	color: #ff0000;
	font-weight:bold;
}

.text-danger {
	color: #ff0000;
	font-weight: bold;
}

.text-success{
	font-weight:bold;
}