﻿@*@model  List<WLA3.Models.JurisdictionPriceConfiguration>*@
@model WLA3.ViewModels.Master_ViewModel.MVM

@*@using (Html.BeginForm())
	{
			@Html.AntiForgeryToken()*@


@*@foreach (var item in Model)
	{*@
@{
	var lastIndex = 0;
	var addClass = "JPriceForm";
}

@*@for (var item = 0; item < 40; item++)
	{*@

<table class="editJurisdictionPrice tablesorter" id="EditJurisdictionPriceTable">
	<thead>
		<tr style="background-color: #ecffed; font-weight: bold;" class="JPriceForm">
			<th></th>
			<th style="width: 55px; display: block;">ID</th>
			<th>Processing Type</th>
			<th>Code</th>
			@*<th>Price/Percent</th>*@
			<th>Price</th>
			<th>Price Min</th>
			<th>Price Max</th>
			@*<th>Price %</th>*@
			<th>Tag Term</th>
			<th>Term Available</th>
			<th>Juv Tag</th>
			<th>Description</th>
			<th>Help Text (HTML)</th>
			<th>Avail New</th>
			<th>Avail Renew</th>
			<th>Trans/Item</th>
			<th>Date Effect</th>
			<th>Date Exp</th>
			@*<th>Disp Juris</th>
				<th>Disp Lic Select</th>*@
			<th>Sort Order</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.WLAVMMaster.JConfig.JurisdictionPrice)
		{
			if (!item.InUse) { addClass = "JPriceForm hidden"; }
			<tr class="@addClass" id="itemblock_@lastIndex">
				<td>
					<div class="btn btn-danger removeJPrice" onclick="RemoveJurPrice(@lastIndex);">Remove</div>
					@Html.HiddenFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].InUse, htmlAttributes: new { @id = "JP_InUse" + lastIndex })
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				</td>
				<td style="text-align: center; width: 35px;">
					@Html.HiddenFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].ClientId, htmlAttributes: new { @id = "JP_ClientId_" + lastIndex })
					@Html.HiddenFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].JurisdictionId, htmlAttributes: new { @id = "JP_JurisdictionId_" + lastIndex })
					@Html.HiddenFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].IsUpdate, htmlAttributes: new { @id = "JP_IsUpdate_" + lastIndex })
					@Html.HiddenFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].JurisdictionPriceId, htmlAttributes: new { @id = "JP_JPriceId_" + lastIndex })
				@item.JurisdictionPriceId
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].ProcessingType, new { htmlAttributes = new { @id = "JP_ProcessingType_" + lastIndex, @onChange="setUpdate("+@lastIndex+")", @maxlength = "50", @style = "width: 125px;" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].ProcessingType, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Code, new { htmlAttributes = new { @id = "JP_Code_" + lastIndex, @onChange = "setUpdate(" + @lastIndex + ")", @maxlength = "30", @style = "width: 125px;" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Code, "", new { @class = "text-danger" })
				</td>
				@*<td>
						@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PriceOrPercent, new { htmlAttributes = new {  @maxlength = "10", @style = "width: 100%;" } })
						@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PriceOrPercent, "", new { @class = "text-danger" })
					</td>*@
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Price, new { htmlAttributes = new { @id = "JP_Price_" + lastIndex, @onChange = "setUpdate(" + @lastIndex + ")", @style = "width: 80px;" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Price, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PriceMin, new { htmlAttributes = new { @id = "JP_PriceMin_" + lastIndex, @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PriceMin, "", new {  @class = "text-danger", @style = "width: 80px;" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PriceMax, new { htmlAttributes = new { @id = "JP_PriceMax_" + lastIndex, @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PriceMax, "", new { @class = "text-danger", @style = "width: 80px;" })
				</td>
				@*<td>
						@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PricePercent, new { htmlAttributes = new {  } })
						@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PricePercent, "", new { @class = "text-danger" })
					</td>*@
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].TagTerm, new { htmlAttributes = new { @id = "JP_TagTerm_" + lastIndex, @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].TagTerm, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].TagTermAvailable, new { htmlAttributes = new { @id = "JP_TagTermAvail_" + lastIndex, @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].TagTermAvailable, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].JuvenileTag, new { htmlAttributes = new { @id = "JP_JuvenileTag_" + lastIndex, @maxlength = "1", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].JuvenileTag, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Description, new { htmlAttributes = new { @id = "JP_Description_" + lastIndex, @maxlength = "250", @style = "width: 200px;", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Description, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Disclaimer, new { htmlAttributes = new { @id = "JP_Disclaimer_" + lastIndex, @style = "width: 150px;", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].Disclaimer, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].AvailabilityNew, new { htmlAttributes = new { @id = "JP_AvailabilityNew_" + lastIndex, @maxlength = "20", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].AvailabilityNew, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].AvailabilityRenew, new { htmlAttributes = new { @id = "JP_AvailabilityRenew_" + lastIndex, @maxlength = "20", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].AvailabilityRenew, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PerTransOrItem, new { htmlAttributes = new { @id = "JP_PerTransOrmodel.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex]" + lastIndex, @maxlength = "20", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].PerTransOrItem, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DateEffective, new { htmlAttributes = new { @id = "JP_DateEffective_" + lastIndex, @style = "width: 100px;", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DateEffective, "", new { @class = "text-danger" })
				</td>
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DateExpires, new { htmlAttributes = new { @id = "JP_DateExpires_" + lastIndex, @style = "width: 100px;", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DateExpires, "", new { @class = "text-danger" })
				</td>
				@*<td>
						@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DisplayJurisdiction, new { htmlAttributes = new {  @maxlength = "1" } })
						@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DisplayJurisdiction, "", new { @class = "text-danger" })
					</td>
					<td>
						@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DisplayLicenseSelect, new { htmlAttributes = new {  @maxlength = "1" } })
						@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].DisplayLicenseSelect, "", new { @class = "text-danger" })
					</td>*@
				<td>
					@Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].SortOrder, new { htmlAttributes = new { @id = "JP_SortOrder_" + lastIndex, @style = "width: 100px;", @onChange = "setUpdate(" + @lastIndex + ")" } })
					@Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionPrice[lastIndex].SortOrder, "", new { @class = "text-danger" })
				</td>
			</tr>
			lastIndex += 1;
		}
	</tbody>
</table>

<div class="JPriceFormAdd" onclick="AddJurPrice();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br />Add price record</div>

@*}*@
@*}*@
