﻿@model System.Data.DataTable


<table class="SQLTableResults">
	<thead>
		<tr>
			@foreach (System.Data.DataColumn col in Model.Columns)
			{
				<th>@col.Caption</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach(System.Data.DataRow row in Model.Rows)
		{
			<tr>
				@foreach (var cell in row.ItemArray)
				{
					<td>@cell.ToString()</td>
				}
			</tr>
		}
	</tbody>
</table>