﻿@model WLA3.ViewModels.Master_ViewModel.MVM

@{
    ViewBag.Title = "ClientPreferences";
}
@Html.ActionLink("Home", "GetIdentifierList", "WLA")
<hr />

<div class="customPanel">
    <div class="panel-group" id="accordion_JurisdictionInfo" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="JIHeader">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#JIHeader" href="#collapseJI" aria-expanded="true" aria-controls="collapseJI">
                        <span style="font-size: 1.3em;">Client Jurisdiction Information</span>
                    </a>
                </h4>
            </div>
            <div id="collapseJI" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseJI">
                <div class="panel-body">
                    <p>Click on the column headers to sort</p>
                    <div class="table-responsive">
                        <table id="InfoTable" class="tablesorter table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Jurisdiction Id</th>
                                    <th>Client Id</th>
                                    <th>Jurisdiction Title</th>
                                    <th>Zipcodes</th>
                                    <th>Out of Area</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.WLAVMMaster.CM_ILL)
                                {
                                    <tr>
                                        <td>
                                            @if (item.OutOfArea == true)
                                            {
                                                @Html.ActionLink("Edit", "EditOutOfAreaJurisdiction", new { ClientId = item.ClientId, ActionType = "Edit", JurisdictionId = item.JurisdictionId }, new { @class = "btn btn-primary ", @role = "button" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Edit", "EditIdentifierList", new { ClientId = item.ClientId, ActionType = "Edit", JurisdictionId = item.JurisdictionId }, new { @class = "btn btn-primary ", @role = "button" })
                                            }

                                        </td>
                                        <td>@item.JurisdictionId</td>
                                        <td>@item.ClientId</td>
                                        <td class="jName">@item.JurisdictionName</td>
                                        <td>@item.JurisdictionZipcodes</td>
                                        <td>@item.OutOfArea</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model.WLAVMMaster.CM_ILL.Any(c => c.ClientId.ToUpper() == "DEFAULT"))
                        {

                        }
                        else
                        {
                            @Html.ActionLink("Add New Jurisdiction From Template", "AddJurisdiction", new { ClientId = Model.WLAVMMaster.CM_ILL.Select(c => c.ClientId).ToList().LastOrDefault(), ActionType = "Temp", JurisdictionId = Model.WLAVMMaster.CM_ILL.Where(c => c.JurisdictionId != 0).Select(c => c.JurisdictionId).ToList().FirstOrDefault() }, new { @class = "btn btn-primary ", @style = "margin-right: 10px;", @role = "button" })
                            @Html.ActionLink("Add New Blank Jurisdiction", "AddJurisdiction", new { ClientId = Model.WLAVMMaster.CM_ILL.Select(c => c.ClientId).ToList().LastOrDefault(), ActionType = "New", JurisdictionId = Model.WLAVMMaster.CM_ILL.Select(c => c.JurisdictionId).ToList().LastOrDefault() }, new { @class = "btn btn-primary ", @role = "button" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="customPanel">
    <div class="panel-group" id="accordion_JurisdictionQuickInfo" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="JQIHeader">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#JQIHeader" href="#collapseJQI" aria-expanded="true" aria-controls="collapseJQI">
                        <span style="font-size: 1.3em;">Quick Jurisdiction Price Information</span>
                    </a>
                </h4>
            </div>
            <div id="collapseJQI" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseJQI">
                <div class="panel-body">
                    <p>Click on the column headers to sort</p>
                    <div class="table-responsive">
                        @{Html.RenderPartial("_JurisdictionInfo", Model.WLAVMMaster.JInfo);}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="customPanel">
    <div class="panel-group" id="accordion_LockboxInfo" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="LockboxHeader">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#LockboxHeader" href="#collapseLockbox" aria-expanded="true" aria-controls="collapseLockbox">
                        <span style="font-size: 1.3em;">Lockbox Information</span>
                    </a>
                </h4>
            </div>
            <div id="collapseLockbox" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseLockbox">
                <div class="panel-body">
                    <p>Click on the column headers to sort</p>
                    <div class="table-responsive">
                        @{Html.RenderPartial("_LockboxInfo", Model.WLAVMMaster.LBInfo);}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="waiting-outter" class="hidden">
    <div id="waiting-inner">
        <img src="https://licensepet.com/wl3/rc/Content/Images/catLoaderNoBG.gif" class="waiting-img" alt="Loading Cat" />
    </div>
</div>


@section Scripts{
    <script type="text/javascript">


		$(document).ready(function () {
			$('#waiting-outter').addClass('hidden');
		});

		function editIdentifier(webclientid, identifierid, jurisdictionId, clientId) {
			console.log(webclientid);
			console.log(identifierid);
			console.log(jurisdictionId);
			console.log(clientId);


	@*var data = {
		webClientId: webclientid,
		identifierId: identifierid,
		clientId: clientId,
		jurisdictionId: jurisdictionId
	};

			$('body, html').scrollTop($('#'+ element.id).offset().top - 15);

			$.ajax({
				url: "@Url.Action("EditIndividualIdentifier", "Home")",
				type: 'POST',
			dataType: 'html',
			data: data,
			success: function (data) {
				$('#EditIdentifier').html(data);
				$('#EditIdentifier').removeClass('hidden');
			},
			error: function (data) {

			}
		});*@
		}

    </script>


}