﻿@model WLA3.ViewModels.Master_ViewModel.MVM
@Html.ActionLink("Home", "GetIdentifierList", "WLA")
<hr />

<div style="width: 100%; font-weight: bold;">
    <p style="font-weight: bold;">Overwriting a default preference will add a client preference, it will not change the default preference. You can only remove client preferences/non-default preferences.  Removing them will set the preference back to the default.</p>
    <p>
        Results for: <b>
            <br />
            Web Client Id: @Model.WLAVMMaster.IdentifierVM.WebClientId
            <br />
            Client Id: @Model.WLAVMMaster.IdentifierVM.ClientId
            <br />
            Jurisdiction Id: @Model.WLAVMMaster.IdentifierVM.JurisdictionId
        </b>
    </p>
</div>

<!-- Edit the Jurisdiction information like out of area and zipcodes -->
@if (Model.WLAVMMaster.IdentifierVM.ClientId.ToUpper() != "DEFAULT" && Model.WLAVMMaster.IdentifierVM.JurisdictionId != 0)
{
    <div class="customPanel">
        <div class="panel-group" id="accordion_UpdateJurisdictionInfo" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="UpdateJurisdictionInfoHeader">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#UpdateJurisdictionInfoHeader" href="#collapseUpdateJurisdictionInfo" aria-expanded="true" aria-controls="collapseUpdateJurisdictionInfo">
                            <span style="font-size: 1.3em;">Update Jurisdiction Information</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseUpdateJurisdictionInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseUpdateJurisdictionInfo">
                    <div class="panel-body">
                        <div class="table-responsive">
                            @Html.Partial("UpdateJurisdictionInfo", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="customPanel">
    <div class="panel-group" id="accordion_ConfigResult" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CRHeader">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#CRHeader" href="#collapseCR" aria-expanded="true" aria-controls="collapseCR">
                        <span style="font-size: 1.3em;">Identifier Information</span>
                    </a>
                </h4>
            </div>
            <div id="collapseCR" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseCR">
                <div class="panel-body">

                    <div class="table-responsive">
                        <table id="IdentifierTable" class="tablesorter table">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Identifier ID</th>
                                    <th>Pref Type</th>
                                    <th>Identifier</th>
                                    <th>Display <br /> Required <br /> Change</th>
                                    <th>Custom Text</th>
                                    <th></th>
                                    @*<th>Placeholder Text</th>*@
                                    @*<th>Regex</th>
                                        <th>Validation Error Text</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.WLAVMMaster.IdentifierVM.ConfigResults)
                                {
                                    <tr>
                                        <td class="identifierActionRow">
                                            @Html.ActionLink("Edit", "EditIndividualIdentifier", new { WebClientId = item.web_client_id, WebClientConfigurationId = item.web_client_configuration_id, ClientId = item.client_id, JurisdictionId = item.jurisdiction_id }, new { @class = "btn btn-primary ", @role = "button" })
                                        </td>
                                        <td>@item.web_client_configuration_id </td>
                                        <td>@item.src_pref[0]</td>
                                        <td>@item.identifier</td>
                                        <td>D: @item.DisplayInView <br /> R: @item.RequiredField <br /> C: @item.AllowChange</td>
                                        <td>
                                            <div class="textboxheight">
                                                @Html.Raw(item.CustomText)
                                            </div>
                                        </td>
                                        <td>
                                            @if (item.src_pref.ToUpper() != "DEFAULT")
                                            {
                                                if (item.src_pref.ToUpper() == "JURIS" || (item.src_pref.ToUpper() == "CLIENT" && item.jurisdiction_id == 0))
                                                {
                                                    @Html.ActionLink("Remove", "DeleteIndividualIdentifier", new { WebClientId = item.web_client_id, WebClientConfigurationId = item.web_client_configuration_id, ClientId = item.client_id, JurisdictionId = item.jurisdiction_id }, new { @class = "btn btn-primary btn-danger", @role = "button", @onclick = "return confirm('Are you sure you wish to delete this identifier?');" })
                                                }
                                            }
                                    </td>
                                    @*<td>
                                            <div class="textboxheight">
                                                @Html.Raw(item.PlaceholderText)
                                            </div>
                                        </td>*@
                                    @*<td>
                                            <div class="textboxheight">
                                                @item.Regex
                                            </div>
                                        </td>
                                        <td>
                                            <div class="textboxheight">
                                                @item.Validation_Error
                                            </div>
                                        </td>*@
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="customPanel">
    <div class="panel-group" id="accordion_ValidResult" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="VRHeader">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#VRHeader" href="#collapseVR" aria-expanded="true" aria-controls="collapseVR">
                        <span style="font-size: 1.3em;">Valid/SQL Information</span>
                    </a>
                </h4>
            </div>
            <div id="collapseVR" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseVR">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="ValidTable" class="tablesorter table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Identifier ID</th>
                                    <th>Pref Type</th>
                                    <th>Identifier</th>
                                    <th>Custom Text</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.WLAVMMaster.IdentifierVM.ValidResults)
                                {
                                    <tr>
                                        <td class="identifierActionRow">
                                            @Html.ActionLink("Edit", "EditIndividualIdentifier", new { WebClientId = item.web_client_id, WebClientConfigurationId = item.web_client_configuration_id, ClientId = item.client_id, JurisdictionId = item.jurisdiction_id }, new { @class = "btn btn-primary ", @role = "button" })
                                        </td>
                                        <td>@item.web_client_configuration_id </td>
                                        <td>@item.src_pref[0]</td>
                                        <td>@item.identifier</td>
                                        <td>
                                            <div class="textboxheight">
                                                @Html.Raw(HttpUtility.HtmlEncode(item.CustomText).Replace("\n", "<br/>"))
                                            </div>
                                        </td>
                                        <td class="identifierActionRow">
                                            @if (item.src_pref.ToUpper() != "DEFAULT")
                                            {
                                                if (item.src_pref.ToUpper() == "JURIS" || (item.src_pref.ToUpper() == "CLIENT" && item.jurisdiction_id == 0))
                                                {
                                                    @Html.ActionLink("Remove", "DeleteIndividualIdentifier", new { WebClientId = item.web_client_id, WebClientConfigurationId = item.web_client_configuration_id, ClientId = item.client_id, JurisdictionId = item.jurisdiction_id }, new { @class = "btn btn-primary btn-danger", @role = "button", @onclick = "return confirm('Are you sure you wish to delete this identifier?');" })
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var myCodeMirror = CodeMirror(document.body);
        var globalLastIndex = 0;

        $(document).ready(function () {
            $('#IdentifierTable').tablesorter();
            $('#ValidTable').tablesorter();
            for (var i = 0; i < 40; i++) {
                if ($("#InUse_" + i).val() == 'True') {
                    $('#itemblock_' + i).removeClass('hidden');
                }
            }
        });

        function RemoveJurPrice(item) {
            $("#InUse_" + item).val(false);
            $('#itemblock_' + item).addClass('hidden');
        }

        function AddJurPrice(item) {
            if (globalLastIndex == 0) {
                globalLastIndex = item + 1;
                $("#InUse_" + globalLastIndex).val(true);
                $('#itemblock_' + globalLastIndex).removeClass('hidden');
            }
            else {
                globalLastIndex++;
                $("#InUse_" + globalLastIndex).val(true);
                $('#itemblock_' + globalLastIndex).removeClass('hidden');
            }

        }

    </script>
}
