﻿@model WLA3.ViewModels.Master_ViewModel.MVM
@Html.ActionLink("Home", "GetIdentifierList", "WLA")
<hr />
<h2>Edit Jurisdiction Info</h2>

<p>Client Id: @Model.WLAVMMaster.JConfig.ClientId</p>

@using (Html.BeginForm("UpdateJurisdictionInfo", "WLA"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.WLAVMMaster.JConfig.ClientId)
        @Html.HiddenFor(model => model.WLAVMMaster.JConfig.JurisdictionId)
        @Html.HiddenFor(model => model.CLM.ClientId)
        @Html.HiddenFor(model => model.CLM.User)
        @Html.HiddenFor(model => model.CLM.Password)

        <div class="form-group">
            @Html.LabelFor(model => model.WLAVMMaster.JConfig.Jurisdiction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WLAVMMaster.JConfig.Jurisdiction, new { htmlAttributes = new { @class = "form-control", @maxlength = "15" } })
                @Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.Jurisdiction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WLAVMMaster.JConfig.JurisdictionTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionTitle, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WLAVMMaster.JConfig.JurisdictionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WLAVMMaster.JConfig.JurisdictionDescription, new { htmlAttributes = new { @class = "form-control", @maxlength = "1000" } })
                @Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.JurisdictionDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WLAVMMaster.JConfig.Zipcodes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WLAVMMaster.JConfig.Zipcodes, new { htmlAttributes = new { @class = "form-control", @maxlength = "1000" } })
                @Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.Zipcodes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WLAVMMaster.JConfig.OutOfArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WLAVMMaster.JConfig.OutOfArea)
                    @Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.OutOfArea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WLAVMMaster.JConfig.OutOfAreaURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WLAVMMaster.JConfig.OutOfAreaURL, new { htmlAttributes = new { @class = "form-control", @maxlength = "1000" } })
                @Html.ValidationMessageFor(model => model.WLAVMMaster.JConfig.OutOfAreaURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <input type="submit" value="Save" class="btn btn-success" style="width: 75%; display: block; margin: 0 auto;" />

        </div>
    </div>
}