﻿@model string
@{
  ViewBag.Title = "Error in processing your configuration";
}

<h2>There was an error in processing your configurations.</h2>

<p>Please go back to the configuration page and try again.</p>

<p>Error Message: @Model</p>

