﻿@model WLA3.ViewModels.Master_ViewModel.MVM

@{
	ViewBag.Title = "Disapproved Images";
	var lastIndex = 0;
}

<h2>Disapproved Images</h2>
<hr />

@using (Html.BeginForm("MassDisapproveImages", "ImageApproval", FormMethod.Post, new { id = "DisapproveImageForm" }))
{
	@Html.AntiForgeryToken()
	foreach (var item in Model.ImageApprovalMaster.ImageList)
	{

		<div class="pictureBlock" id="@item.ImageId">
			<div id="overlay_@item.ImageId">
				<div id="undo_unapprove_@item.ImageId" class="undoUnapprove hidden" onclick="undoDisapprove('@item.ImageId')">Undo</div>
			</div>
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].Approved, new { id = "disapproved_" + item.ImageId })
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].ImageId)
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].ImageSequence)
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].UserId)
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].ImageResolution)
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].PersonInfo.EmailAddress)
			@Html.HiddenFor(model => Model.ImageApprovalMaster.ImageList[lastIndex].BreedRequestInfo.ProperName)
			<img src="@item.ImageData" class="my_popup_open" onclick="largerImage('@item.ImageData');" />
			<br />@item.ImageId / @item.ImageSequence
			<br /><b>@item.BreedRequestInfo.ProperName</b>
			<br />@item.BreedRequestInfo.RequestStatus
			<br />@item.BreedRequestInfo.InterestType
			<br />@item.PersonInfo.EmailAddress
			<div class="clearfix"></div>
			<hr />
			<div id="DisapproveOptions_@item.ImageId">

			</div>

		</div>
		lastIndex = lastIndex + 1;
	}
	<div class="clearfix"></div>
	<div class="itemBlock" style="margin-top: 30px;">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save disapprovals and go back to pending images" class="btn btn-default subBtn" />
		</div>
	</div>
}
<div class="clearfix"></div>

<div id="donationDescriptionBox" class="hidden">
	<div id="imagePopupBox" @*class="hidden"*@>
		<div class="imageBox">
			<canvas id="animalCanvas" style="width: 100%; height: 500px;"></canvas>
			<div id="largeImageInBox"></div>
			<div id="imgBtnBox">
				@*<button class="imagePopupBox_close">Close</button>*@
				<button class="btn btn-default " value="Close" onclick="$('#donationDescriptionBox').addClass('hidden')">Close</button>
			</div>
		</div>
	</div>
</div>