﻿@model WLA3.ViewModels.Master_ViewModel.MVM

@{
	ViewBag.Title = "Specific Request";
	var lastIndex = 0;
}

<h2>Specific Request</h2>
@using (Html.BeginForm("GetSpecificRequest", "ImageApproval", FormMethod.Post, new { id = "LookupImageForm" }))
{
	@Html.Label("Lookup Specific Request", new { @class = "lookupSpecificLabel" })
	@Html.TextBox("ImageLookup", null, new { @class = "form-control lookupSpecificBox", autocomplete = "off" })
	<input type="submit" value="Find Request" class="btn btn-default subBtn lookupSpecificBtn" />
}
<hr />



@foreach (var item in Model.ImageApprovalMaster.ImageList)
{

	var imageIdNew = item.BreedRequestInfo.BreedRequestId + "_" + item.ImageSequence;
	using (Html.BeginForm("SaveIndividualItem", "ImageApproval",  FormMethod.Post, new { id = "ApproveIndividualItem_" + imageIdNew, @onSubmit = "trimBreeds()" }))
	{
		@Html.AntiForgeryToken()


		<div class="pictureBlock" id="@imageIdNew">
			<div id="overlay_@imageIdNew">
				<div id="undo_unapprove_@imageIdNew" class="undoUnapprove hidden" onclick="undoDisapprove('@imageIdNew')">Undo</div>
			</div>
			@Html.HiddenFor(model => item.BreedRequestInfo.BreedRequestId, new { @id = "breedReqId_" + imageIdNew })
			@Html.HiddenFor(model => item.Approved, new { id = "approved_" + imageIdNew })
			@Html.HiddenFor(model => item.ImageChanged, new { id = "imageChanged_" + imageIdNew })
			@Html.HiddenFor(model => item.ImageId, new { @id = "imageId_" + imageIdNew })
			@Html.HiddenFor(model => item.ImageSequence, new { @id = "imageSeq_" + imageIdNew })
			@Html.HiddenFor(model => item.UserId, new { @id = "userid_" + imageIdNew })
			@Html.HiddenFor(model => item.ImageResolution, new { @id = "imageRes_" + imageIdNew })
			@Html.HiddenFor(model => item.PersonInfo.EmailAddress, new { @id = "email_" + imageIdNew })
			@*@Html.HiddenFor(model => item.BreedRequestInfo.ProperName, new { @id = "image_new_" + imageIdNew })*@
			@Html.HiddenFor(model => item.ImageData, new { @id = "passedImage_" + imageIdNew })
			@Html.HiddenFor(model => item.ImageNew, new { @id="image_new_" + imageIdNew})

			<img src="@item.ImageData" class="my_popup_open" onclick="largerImage('@imageIdNew', this.src, '@item.ImageType')" id="image_@imageIdNew" />
			@*<img src="@Html.DisplayFor(model => item.ImageData).ToHtmlString()"/>*@
			<br /><span style="font-weight: bold; font-size: 1.2em;">@item.BreedRequestInfo.ProperName</span>
			<br />
			@{
				var requestId = "";
				if (string.IsNullOrWhiteSpace(item.ImageId))
				{
					requestId = item.BreedRequestInfo.BreedRequestId;
				}
				else
				{
					requestId = item.ImageId + "/" + @item.ImageSequence;
				}
			}
			@requestId
			<br />@item.BreedRequestInfo.RequestStatus
			<br />@item.BreedRequestInfo.InterestType
			<br />@item.PersonInfo.EmailAddress
			<div class="clearfix"></div>
      <div id="approveBtnBox">
        <hr />
        @*<div class="btn btn-sm btn-danger" onclick="disapprove('@imageIdNew')">Disapprove</div>*@
        <div class="btn btn-sm btn-picture" onclick="Edit('editForm_@imageIdNew', '@imageIdNew')">	Edit Form	</div>
        @*<div class="btn btn-sm btn-success" onclick="SaveChanges('@imageIdNew', '@lastIndex')">Save Changes</div>*@
        <input type="submit" value="Save Edit" class="btn btn-sm btn-success" />
        <img alt="Copy Direct Link" src="~/Content/Images/LinkIcon.png" class="btn btn-sm" style="display: inline-block; border-radius: 3px; padding: 3px;" onclick="copyToClipboard('@Model.ImageApprovalMaster.ImageList[lastIndex].BreedRequestInfo.BreedRequestId')" />
        <div class="clearfix"></div>
        <div style="display: block;">
          <input type="text" style="position: absolute; top: -10000px; left: -10000px;" tabindex="-1" aria-hidden="true" id="copyBox_@Model.ImageApprovalMaster.ImageList[lastIndex].BreedRequestInfo.BreedRequestId" value="https://phshelter.com/BreedRequest/Edit/@Model.ImageApprovalMaster.ImageList[lastIndex].BreedRequestInfo.BreedRequestId/@Model.ImageApprovalMaster.ImageList[lastIndex].BreedRequestInfo.EditHash">
          <div id="copyConfirm_@Model.ImageApprovalMaster.ImageList[lastIndex].BreedRequestInfo.BreedRequestId" class="d-none hidden">
            <p style="color: #097900;">Your link has been copied!</p>
          </div>
        </div>
      </div>
		</div>

		<div id="editForm_@imageIdNew" class="hidden">
			<div class="editFormBox">
				<div class="editPopupBox">
					<div class="editFormContent">
						<h2>Upload New Image</h2>
						<input type="file" name="newImage_@imageIdNew" class="form-control-file" id="animalImageUpload_@imageIdNew" onchange="saveNewImage('@item.BreedRequestInfo.BreedRequestId','@item.ImageSequence', '@lastIndex' )" />
						<img src="" id="newUploadImagePreview_@imageIdNew" class="hidden" style="width: 150px;" />
						<hr />

						@Html.HiddenFor(model => item.FormChanged, new { @id = "formChanged_" + imageIdNew })
						<h2>Person Info</h2>
						<hr />

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.RequestStatus)
							@Html.DropDownListFor(model => item.BreedRequestInfo.RequestStatus, new SelectList(Model.ImageApprovalMaster.DUM.requestStatus, "ddKey", "ddText", item.BreedRequestInfo.RequestStatus), new { @class = "form-control", @id = "requestStats_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.FirstName)
							@Html.TextBoxFor(model => item.PersonInfo.FirstName, new { @class = "form-control", @id = "firstname_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.LastName)
							@Html.TextBoxFor(model => item.PersonInfo.LastName, new { @class = "form-control", @id = "lastname_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.Label("Phone Number", new { @style = "display: block; width: 100%;" })
							@Html.TextBoxFor(model => item.PersonInfo.AreaCode, new { @class = "form-control", @style = "width: 10%; float: left;", @id = "areacode_" + imageIdNew })
							@Html.TextBoxFor(model => item.PersonInfo.PhoneNumber, new { @class = "form-control", @style = "width: 90%; float: left;", @id = "phonenumber_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.PatronAddress)
							@Html.TextBoxFor(model => item.PersonInfo.PatronAddress, new { @class = "form-control", @id = "patronaddress_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.City)
							@Html.TextBoxFor(model => item.PersonInfo.City, new { @class = "form-control", @id = "city_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.State)
							@Html.DropDownListFor(model => item.PersonInfo.State, new SelectList(Model.ImageApprovalMaster.DUM.stateList, "stateKey", "stateText", item.PersonInfo.State), new { @class = "form-control", @id = "state_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.ZipCode)
							@Html.TextBoxFor(model => item.PersonInfo.ZipCode, new { @class = "form-control", @id = "zip" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.EmailFormat)
							@Html.DropDownListFor(model => item.PersonInfo.EmailFormat, new SelectList(Model.ImageApprovalMaster.DUM.requestFormat, "formatKey", "formatText", item.PersonInfo.EmailFormat), new { @class = "form-control", @id = "emailformat_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.EmailAddress): &nbsp;
							@Html.DisplayFor(model => item.PersonInfo.EmailAddress, new { @id = "email_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.RadioButtonFor(model => item.BreedRequestInfo.AllowPitBull, "Y", new { id = "pitbulls_Y_" + @imageIdNew }) Do Not Allow Pit Bulls
							@Html.RadioButtonFor(model => item.BreedRequestInfo.AllowPitBull, "", new { id = "pitbulls_N_" + @imageIdNew }) Clear
						</div>

						<hr />
						<h2>Animal Info</h2>
						<hr />
						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.BreedRequestId): &nbsp;
							@Html.DisplayFor(model => item.BreedRequestInfo.BreedRequestId, new { @id = "reqid_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.InterestType)
							@Html.DropDownListFor(model => item.BreedRequestInfo.InterestType, new SelectList(Model.ImageApprovalMaster.DUM.requestType, "ddKey", "ddText", item.BreedRequestInfo.InterestType), new { @class = "form-control", @id = "interesttype_" + imageIdNew })
						</div>


						<div class="itemBlock">
							@Html.LabelFor(model => item.PersonInfo.LostFoundAddress)
							@Html.TextBoxFor(model => item.PersonInfo.LostFoundAddress, new { @class = "form-control", @id = "lostfoundaddr_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.ShelterList)
							@Html.TextAreaFor(model => item.BreedRequestInfo.ShelterList, new { @class = "form-control", @rows = "5", @id = "shelterlist_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.AnimalType)
							@Html.DropDownListFor(model => item.BreedRequestInfo.AnimalType, new SelectList(Model.ImageApprovalMaster.DUM.animalType, "animalTypeKey", "animalTypeText", item.BreedRequestInfo.AnimalType), new { @class = "form-control", @onchange = "changeAnimalType(this.value, '" + @imageIdNew + "')", @id = "animaltype_" + imageIdNew })
						</div>

						@{
					var hideCat = "";
						}
						@if (item.BreedRequestInfo.AnimalType.ToUpper() != "CAT")
						{
							hideCat = "hidden";
						}
						<div id="breedName_CAT_@imageIdNew" class="itemBlock @hideCat">
							@Html.LabelFor(model => item.BreedRequestInfo.BreedName)
							@Html.DropDownListFor(model => item.BreedRequestInfo.BreedName, new SelectList(
						 Model.ImageApprovalMaster.DUM.breedInfo.Where(b => (b.animalType.ToUpper() == "CAT" || b.animalType.ToUpper() == "")).AsEnumerable(), "breedShortName", "breedProperName", item.BreedRequestInfo.BreedName), new { @class = "form-control", @id = "breed_Cat_" + imageIdNew })
						</div>

						@*<div id="breedGroup_CAT_@imageIdNew" class="itemBlock @hideCat">
								 @Html.LabelFor(model => item.BreedRequestInfo.BreedGroup)
								 @Html.DropDownListFor(model => item.BreedRequestInfo.BreedGroup,
							new SelectList(
										 Model.ImageApprovalMaster.DUM.breedInfo.Where(b => b.animalType.ToUpper() == "CAT").Select(b => new { breedGroup = b.breedGroup }).AsEnumerable().Distinct(),
										 "breedGroup", "breedGroup", item.BreedRequestInfo.BreedGroup), new { @class = "form-control", @id="breedGroup_Cat_" + imageIdNew})
							 </div>*@



						@{
					var hideDog = "";
						}
						@if (item.BreedRequestInfo.AnimalType.ToUpper() != "DOG")
						{
							hideDog = "hidden";
						}

						<div id="breedName_DOG_@imageIdNew" class="itemBlock @hideDog">
							@Html.LabelFor(model => item.BreedRequestInfo.BreedName)
							@Html.DropDownListFor(model => item.BreedRequestInfo.BreedName, new SelectList(
						 Model.ImageApprovalMaster.DUM.breedInfo.Where(b => (b.animalType.ToUpper() == "DOG" || b.animalType.ToUpper() == "")).AsEnumerable(), "breedShortName", "breedProperName", item.BreedRequestInfo.BreedName), new { @class = "form-control", @id = "breed_Dog_" + imageIdNew})
						</div>

						@*<div id="breedGroup_DOG_@imageIdNew" class="itemBlock @hideDog">
								 @Html.LabelFor(model => item.BreedRequestInfo.BreedGroup)

								 @Html.DropDownListFor(model => item.BreedRequestInfo.BreedGroup,
							new SelectList(
										 Model.ImageApprovalMaster.DUM.breedInfo.Where(b => b.animalType.ToUpper() == "DOG").Select(b => new { breedGroup = b.breedGroup }).AsEnumerable().Distinct(),
										 "breedGroup", "breedGroup", item.BreedRequestInfo.BreedGroup), new { @class = "form-control", @id = "breedGroup_Dog_" + imageIdNew })
							 </div>*@



						@{
					var hideOther = "";
						}
						@if (item.BreedRequestInfo.AnimalType.ToUpper() != "OTHER")
						{
							hideOther = "hidden";
						}

						<div id="breedName_OTHER_@imageIdNew" class="itemBlock @hideOther">
							@Html.LabelFor(model => item.BreedRequestInfo.BreedName)
							@Html.DropDownListFor(model => item.BreedRequestInfo.BreedName, new SelectList(
													 Model.ImageApprovalMaster.DUM.breedInfo.Where(b => (b.animalType.ToUpper() == "OTHER" || b.animalType.ToUpper() == "")).AsEnumerable(), "breedShortName", "breedProperName", item.BreedRequestInfo.BreedName), new { @class = "form-control", @id = "breed_Other_" + imageIdNew })
						</div>

						@*<div id="breedGroup_OTHER_@imageIdNew" class="itemBlock @hideOther">
							@Html.LabelFor(model => item.BreedRequestInfo.BreedGroup)

							@Html.DropDownListFor(model => item.BreedRequestInfo.BreedGroup,
										new SelectList(
													 Model.ImageApprovalMaster.DUM.breedInfo.Where(b => b.animalType.ToUpper() == "OTHER").Select(b => new { breedGroup = b.breedGroup }).AsEnumerable().Distinct(),
													 "breedGroup", "breedGroup", item.BreedRequestInfo.BreedGroup), new { @class = "form-control", @id = "breedGroup_Other_" + imageIdNew })
						</div>*@



						<div class="itemBlock">
							@Html.RadioButtonFor(model => item.BreedRequestInfo.SimilarAnimals, "Y", new { id = "similar_Y_" + @imageIdNew }) Show Similar <br />
							@Html.RadioButtonFor(model => item.BreedRequestInfo.SimilarAnimals, "N", new { id = "similar_N_" + @imageIdNew }) Do Not Show Similar
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.PetName)
							@Html.TextBoxFor(model => item.BreedRequestInfo.PetName, new { @class = "form-control", @id = "petname_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.EventDate)
							@Html.TextBoxFor(model => item.BreedRequestInfo.EventDate, new { @class = "form-control", @id = "eventdate_" + imageIdNew })
						</div>

						@*<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.LocationLostFound) (bottom section postcards)
							@Html.TextAreaFor(model => item.BreedRequestInfo.LocationLostFound, new { @class = "form-control", @rows = "5", @maxlength = "200", @id = "loclostfound_" + imageIdNew })
						</div>*@
						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.AnimalDescription)
							@Html.TextAreaFor(model => item.BreedRequestInfo.AnimalDescription, new { @class = "form-control", @rows = "5", @maxlength = "250", @id = "animaldesc_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Age)
							@Html.DropDownListFor(model => item.BreedRequestInfo.Age, new SelectList(Model.ImageApprovalMaster.DUM.ageList, "ddKey", "ddText", item.BreedRequestInfo.Age), new { @class = "form-control", @id = "age_" + imageIdNew })
						</div>
						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Size)
							@Html.DropDownListFor(model => item.BreedRequestInfo.Size, new SelectList(Model.ImageApprovalMaster.DUM.sizeList, "ddKey", "ddText", item.BreedRequestInfo.Size), new { @class = "form-control", @id = "size_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.AnimalGender)
							@Html.DropDownListFor(model => item.BreedRequestInfo.AnimalGender, new SelectList(Model.ImageApprovalMaster.DUM.sexList, "ddKey", "ddText", item.BreedRequestInfo.AnimalGender), new { @class = "form-control", @id = "animalgender_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Color)
							@Html.DropDownListFor(model => item.BreedRequestInfo.Color, new SelectList(Model.ImageApprovalMaster.DUM.colorList, "ddKey", "ddText", item.BreedRequestInfo.Color), new { @class = "form-control", @id = "color_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Coat)
							@Html.DropDownListFor(model => item.BreedRequestInfo.Coat, new SelectList(Model.ImageApprovalMaster.DUM.coatList, "ddKey", "ddText", item.BreedRequestInfo.Coat), new { @class = "form-control", @id = "coat_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Tail)
							@Html.DropDownListFor(model => item.BreedRequestInfo.Tail, new SelectList(Model.ImageApprovalMaster.DUM.tailList, "ddKey", "ddText", item.BreedRequestInfo.Tail), new { @class = "form-control", @id = "tail_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Ears)
							@Html.DropDownListFor(model => item.BreedRequestInfo.Ears, new SelectList(Model.ImageApprovalMaster.DUM.earList, "ddKey", "ddText", item.BreedRequestInfo.Ears), new { @class = "form-control", @id = "ears_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.CollarType)
							@Html.DropDownListFor(model => item.BreedRequestInfo.CollarType, new SelectList(Model.ImageApprovalMaster.DUM.collarType, "ddKey", "ddText", item.BreedRequestInfo.CollarType), new { @class = "form-control", @id = "collar_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.CollarColor)
							@Html.DropDownListFor(model => item.BreedRequestInfo.CollarColor, new SelectList(Model.ImageApprovalMaster.DUM.collarColor, "ddKey", "ddText", item.BreedRequestInfo.CollarColor), new { @class = "form-control", @id = "collarcolor_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Tattoo)
							@Html.TextBoxFor(model => item.BreedRequestInfo.Tattoo, new { @class = "form-control", @id = "tattoo_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.Microchip)
							@Html.TextBoxFor(model => item.BreedRequestInfo.Microchip, new { @class = "form-control", @id = "microchip_" + imageIdNew })
						</div>

						<div class="itemBlock">
							@Html.LabelFor(model => item.BreedRequestInfo.SpecialEvent)
							@Html.TextBoxFor(model => item.BreedRequestInfo.SpecialEvent, new { @class = "form-control", @id = "specEvent" + imageIdNew })
						</div>


					</div>
					<div class="editFormButtons">
						<hr />
						<div class="clearfix"></div>
						<div class="btn btn-success " onclick="saveEditChanges('editForm_@imageIdNew')">Save</div>
						<div class="btn btn-warning " onclick="cancelEditChanges('editForm_@imageIdNew')">Cancel</div>
						@*<button class="btn btn-default " value="Cancel" onclick="$('#donationDescriptionBox').addClass('hidden')">Cancel</button>*@
					</div>
				</div>
			</div>
		</div>

		lastIndex = lastIndex + 1;
	}
}

<div class="clearfix"></div>

<div id="donationDescriptionBox" class="hidden noselect">
	<div id="imagePopupBox" @*class="hidden"*@>
		<div class="imageBox">
			<div id="canvasDiv">
				<canvas id="animalCanvas" style="position:absolute;  z-index: 1; top:0; left: 0; right: 0; bottom: 0; margin: 15px auto;"></canvas>
				<canvas id="croppingCanvas" style="position: absolute; z-index: 2; top:0; left: 0; right: 0; bottom: 0; margin: 15px auto;"></canvas>
			</div>
			<div id="largeImageInBox"></div>
			<div id="imgBtnBox">
				@*<button class="imagePopupBox_close">Close</button>*@
				<div id="btn-transform">
					<img src="~/Content/Images/rotateright.png" id="RotateRight" onclick="rotate90CW();" />
					<img src="~/Content/Images/crop.png" id="CropImage" onclick="cropImage();" />
					<img src="~/Content/Images/blurr.png" id="BlurImage" onclick="blurImage();" />
				</div>
				<hr />
				<div class="clearfix"></div>
				<button class="btn btn-success " value="Save" onclick="saveImageChanges()">Save</button>
				<button class="btn btn-default " value="Cancel" onclick="$('#donationDescriptionBox').addClass('hidden')">Cancel</button>
			</div>
		</div>
	</div>
</div>


<div id="waiting-outter" class="hidden">
	<div id="waiting-inner">
		<img src="https://licensepet.com/wl3/rc/Content/Images/catLoaderNoBG.gif" class="waiting-img" alt="Loading Cat" />
	</div>
</div>



@section Scripts{
	<script type="text/javascript">

		$(document).ready(function () {
			$('#waiting-outter').addClass('hidden');
		});

		var currentImageEdit;
		var currentIndex;
		var aIWidth;
		var aIHeight;
		var canvasWidth;
		var canvasHeight;
		var currentImageId;
		var currentImageSequence;
		var currentImageType;
		var mousePos = { x: 0, y: 0 };
		var startPos = mousePos;
		var lastPos = mousePos;

		var drawing = false;
		var startDrawing = false;
		var blurStart = false;


		var cropping = false;
		var startCropping = false;
		var cropSelected = false;

    function copyToClipboard(animalId) {
      var copyText = document.getElementById('copyBox_' + animalId);
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");
      /* Alert the copied text */
      $('#copyConfirm_' + animalId).removeClass('hidden');
    }

		function disapprove(imageId) {
			$("#overlay_" + imageId).addClass('disapprovedImage');
			$('#undo_unapprove_' + imageId).removeClass('hidden');
			$("#approved_" + imageId).val(false);
		}

		function undoDisapprove(imageId) {
			$("#overlay_" + imageId).removeClass('disapprovedImage');
			$('#undo_unapprove_' + imageId).addClass('hidden');
			$("#approved_" + imageId).val(true);
		}

		function largerImage(imageId, imageData, imageType) {
			currentImageEdit = imageData;
			currentImageId = imageId;
			currentImageType = imageType;

			console.log(currentImageId);

			var canvas = document.getElementById('animalCanvas');
			var ctx = canvas.getContext('2d');

			var img = new Image();
			img.onload = function () {
                aIWidth = img.naturalWidth;
                aIHeight = img.naturalHeight;

                console.log(aIWidth);
                console.log(aIHeight);
                if (aIWidth > 600 || aIHeight > 500) {

                    var hRatio = 600 / aIWidth;
                    var vRatio = 500 / aIHeight;
                    var ratio = Math.min(hRatio, vRatio);
                    $('#animalCanvas').attr('width', aIWidth * ratio).attr('height', aIHeight * ratio);
                    $('#croppingCanvas').attr('width', aIWidth * ratio).attr('height', aIHeight * ratio);


                    console.log(ratio);
                    var centerShift_x = (600 - aIWidth * ratio) / 2;
                    var centerShift_y = (500 - aIHeight * ratio) / 2;
                    ctx.clearRect(0, 0, 600, 500);
                    ctx.drawImage(img, 0, 0, aIWidth, aIHeight,
                        0, 0, aIWidth * ratio, aIHeight * ratio);

                } else {
                    $('#animalCanvas').attr('width', aIWidth).attr('height', aIHeight);
                    $('#croppingCanvas').attr('width', aIWidth).attr('height', aIHeight);
                    ctx.drawImage(img, 0, 0);
                }
			};
			img.src = imageData;


			var croppingCanvas = document.getElementById('croppingCanvas');
			var croppingCtx = croppingCanvas.getContext('2d');
			allowCropping(croppingCanvas, croppingCtx);


			$('#donationDescriptionBox').removeClass('hidden');
		}

		function rotate90CW() {
			var tempHeight = aIHeight;
			var tempWidth = aIWidth;
			var tempImageData;

			var imageType = 'image/' + currentImageType.toLowerCase();

			$('#animalCanvas').attr('width', tempHeight).attr('height', tempWidth);
			$('#croppingCanvas').attr('width', tempHeight).attr('height', tempWidth);

			var canvas = document.getElementById('animalCanvas');
			var ctx = canvas.getContext('2d');

			var img = new Image();
			img.onload = function () {
				var x = aIWidth / 2;
				var y = aIHeight / 2;
				var width = aIWidth;
				var height = aIWidth;

				ctx.translate(x, y);
				ctx.rotate(Math.PI / 2);
				ctx.drawImage(img, -aIHeight / 2, -aIWidth / 2);
				currentImageEdit = canvas.toDataURL();
				ctx.resetTransform();
			};
			img.src = currentImageEdit;

			//ctx.save();
			//ctx.restore();
			aIHeight = tempWidth;
			aIWidth = tempHeight;

		}

		function allowCropping(croppingCanvas, croppingCtx) {
			// Set up mouse events for drawing
			mousePos = { x: 0, y: 0 };
			startPos = mousePos;
			lastPos = mousePos;

			var canvas = document.getElementById('animalCanvas');
			var ctx = canvas.getContext('2d');

			croppingCanvas.addEventListener("mousedown", function (e) {
				if (drawing) {
					startDrawing = true;
				}
				if (cropping) {
					startCropping = true;
				}

				startPos = getMousePos(croppingCanvas, e);

			}, false);
			croppingCanvas.addEventListener("mouseup", function (e) {
				if (drawing) {
					startDrawing = false;
				}
				if (cropping) {
					startCropping = false;
				}
				lastPos = getMousePos(croppingCanvas, e);

			}, false);
			croppingCanvas.addEventListener("mousemove", function (e) {
				if (startCropping) {
					mousePos = getMousePos(croppingCanvas, e);
					// Calculate the difference on the x and y planes
					var xLength = mousePos.x - startPos.x;
					var yLength = mousePos.y - startPos.y;
					croppingCtx.clearRect(0, 0, croppingCanvas.width, croppingCanvas.height);
					croppingCtx.strokeRect(startPos.x, startPos.y, xLength, yLength);
				}
				if (startDrawing) {
					mousePos = getMousePos(croppingCanvas, e);

					blur(mousePos, ctx, canvas);

				}
			}, false);
		}

		// Get the position of the mouse relative to the canvas
		function getMousePos(canvasDom, mouseEvent) {
			var rect = canvasDom.getBoundingClientRect();
			return {
				x: mouseEvent.clientX - rect.left,
				y: mouseEvent.clientY - rect.top
			};
		}

		function cropImage() {

			if (!cropping) {
				cropping = true;
				$("#CropImage").css('background-color', 'green');
				$("#BlurImage").css('background-color', '');

				drawing = false;
				blurStart = false;
			} else {
				cropping = false;
				$("#CropImage").css('background-color', '');


				// Calculate new width and height of the canvas
				var newCanvasWidth = Math.abs(lastPos.x - startPos.x);
				var newCanvasHeight = Math.abs(lastPos.y - startPos.y);

				//var canvas = new fabric.Canvas('animalCanvas');
				//canvas.centeredRotation(90);
				$('#animalCanvas').attr('width', newCanvasWidth).attr('height', newCanvasHeight);
				$('#croppingCanvas').attr('width', newCanvasWidth).attr('height', newCanvasHeight);

				var canvas = document.getElementById('animalCanvas');
				var ctx = canvas.getContext('2d');
				//ctx.translate(canvas.width / 2, canvas.height / 2);
				//ctx.rotate(Math.PI / 2);

				var img = new Image();
				img.onload = function () {

					//ctx.drawImage(image, dx, dy, dWidth, dHeight);
					//ctx.drawImage(image, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight);
					// sx - The X coordinate of the top left corner of the sub- rectangle of the source image to draw into the destination context.
					// sy - The Y coordinate of the top left corner of the sub- rectangle of the source image to draw into the destination context.
					// sWidth - The width of the sub- rectangle of the source image to draw into the destination context.If not specified, the entire rectangle from the coordinates specified by sx and sy to the bottom- right corner of the image is used.
					// sHeight - The height of the sub- rectangle of the source image to draw into the destination context.
					// dx - The X coordinate in the destination canvas at which to place the top- left corner of the source image.
					// dy - The Y coordinate in the destination canvas at which to place the top- left corner of the source image.

					var startX = 0;
					var startY = 0;
					if (startPos.x < lastPos.x) {
						startX = startPos.x;
					} else {
						startX = lastPos.x;
					}
					if (startPos.y < lastPos.y) {
						startY = startPos.y;
					} else {
						startY = lastPos.y;
					}

					ctx.drawImage(img, startX, startY, newCanvasWidth, newCanvasHeight, 0, 0, newCanvasWidth, newCanvasHeight);
					ctx.save();

					currentImageEdit = canvas.toDataURL();

				};
				img.src = currentImageEdit;

				aIHeight = newCanvasHeight;
				aIWidth = newCanvasWidth;
			}
		}

		function blurImage() {

			var canvas = document.getElementById('animalCanvas');
			var ctx = canvas.getContext('2d');

			mousePos = { x: 0, y: 0 };
			startPos = mousePos;
			lastPos = mousePos;

			if (!blurStart) {
				$("#BlurImage").css('background-color', 'green');
				$("#CropImage").css('background-color', '');
				cropping = false;
				drawing = true;
				blurStart = true;
			}
			else {
				$("#BlurImage").css('background-color', '');
				drawing = false;
				blurStart = false;
				currentImageEdit = canvas.toDataURL();
			}

		}

		function blur(mousePos, ctx, canvas) {

			var img = new Image();
			img.onload = function () {
				ctx.imageSmoothingEnabled = false;
				ctx.mozImageSmoothingEnabled = false;
				ctx.webkitImageSmoothingEnabled = false;
				ctx.msImageSmoothingEnabled = false;

				//ctx.drawImage(image, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight);
				// sx - The X coordinate of the top left corner of the sub- rectangle of the source image to draw into the destination context.
				// sy - The Y coordinate of the top left corner of the sub- rectangle of the source image to draw into the destination context.
				// sWidth - The width of the sub- rectangle of the source image to draw into the destination context.If not specified, the entire rectangle from the coordinates specified by sx and sy to the bottom- right corner of the image is used.
				// sHeight - The height of the sub- rectangle of the source image to draw into the destination context.
				// dx - The X coordinate in the destination canvas at which to place the top- left corner of the source image.
				// dy - The Y coordinate in the destination canvas at which to place the top- left corner of the source image.
				ctx.drawImage(img, mousePos.x, mousePos.y, 2, 2, mousePos.x, mousePos.y, 20, 20);
			};
			img.src = currentImageEdit;

		}


		function saveImageChanges() {
			if (blurStart) {
				blurImage();
			}

			var canvas = document.getElementById('animalCanvas');
			var ctx = canvas.getContext('2d');

			var img = new Image();
			img.onload = function () {

				currentImageEdit = canvas.toDataURL('image/jpeg', .75);

				$('#image_' + currentImageId).attr('src', currentImageEdit);
				$('#passedImage_' + currentImageId).val(currentImageEdit);
				$('#imageChanged_' + currentImageId).val(true);
				$('#donationDescriptionBox').addClass('hidden');
			};
			img.src = currentImageEdit;



		}

		function trimUnchangedItems() {
			$('#waiting-outter').removeClass('hidden');
			$('input[id^="imageChanged"]').each(function () {
				if (this.value == "False" || this.value == 'false' || this.value == false) {
					var idNew = this.id.substr(this.id.indexOf("_") + 1);
					$('#passedImage_' + idNew).val('');
				}
			});
			$('input[id^="formChanged"]').each(function () {
				if (this.value == "False" || this.value == 'false' || this.value == false) {
					var idNew = this.id.substr(this.id.indexOf("_") + 1);
					$('#editForm_' + idNew).html('');
				}
			});
		}


		function Edit(id, longId) {
			console.log(id);
			currentImageId = longId;
			$('body').addClass('stopScroll');
			$('#' + id).removeClass('hidden');

		}

		function saveEditChanges(id) {
			$('body').removeClass('stopScroll');
			$('#' + id).addClass('hidden');
			$('#formChanged_' + currentImageId).val(true);

			var canvas = document.getElementById('animalCanvas');
			var ctx = canvas.getContext('2d');

			var img = new Image();
			img.onload = function () {
				$('#image_' + currentImageId).attr('src', currentImageEdit);
				$('#passedImage_' + currentImageId).val(currentImageEdit);
				//$('#image_new_' + currentImageId).val(true);
				$('#donationDescriptionBox').addClass('hidden');
				//$('#ImageApprovalMaster_ImageList_' + currentIndex + '__ImageSequence').val(currentImageSequence + 1);
			};
			img.src = currentImageEdit;
		}

		function cancelEditChanges(id) {
			$('body').removeClass('stopScroll');
			$('#' + id).addClass('hidden');
		}

		function changeAnimalType(animalType, id) {
			console.log('change animal type');
			console.log(animalType);
			console.log('#breed_Dog_' + id);

			$('#breedName_DOG_' + id).addClass('hidden');
			$('#breed_Dog_' + id).val('');
			$('#breedName_CAT_' + id).addClass('hidden');
			$('#breed_Cat_' + id).val('');
			$('#breedName_OTHER_' + id).addClass('hidden');
			$('#breed_Other_' + id).val('');


			//$('#breedGroup_DOG_' + id).addClass('hidden');
			//$('#breedGroup_Dog_' + id).val('');
			//$('#breedGroup_CAT_' + id).addClass('hidden');
			//$('#breedGroup_Cat_' + id).val('');
			//$('#breedGroup_OTHER_' + id).addClass('hidden');
			//$('#breedGroup_Other_' + id).val('');

			$('#breedName_' + animalType.toUpperCase() + '_' + id).removeClass('hidden');
			//$('#breedGroup_' + animalType.toUpperCase() + '_' + id).removeClass('hidden');

		}

		function saveNewImage(id, sequence, index) {
			currentImageId = id + "_" + sequence;
			currentImageSequence = sequence;
			currentIndex = index;

			var file = document.querySelector('#animalImageUpload_' + id + '_' + sequence).files[0];

			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log(reader.result);
				$('#newUploadImagePreview_' + id + '_' + sequence).attr('src', reader.result);
				$('#newUploadImagePreview_' + id + '_' + sequence).removeClass('hidden');
				$('#image_new_' + currentImageId).val(true);
				currentImageEdit = reader.result;
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

		function trimBreeds() {
			$('[id^="breedName"]').each(function () {
				if ($(this).hasClass('hidden')) {
					$(this).html('');
				}
			});
		}

	</script>
}
